DEBUG=False
SECRET_KEY=your-secret-key-here

# Database Settings
DB_NAME=stockchart
DB_USER=postgres
DB_PASSWORD=your-db-password
DB_HOST=localhost
DB_PORT=5432

# Customizable Host Ports (Change if you face port conflicts on your host machine)
BACKEND_HOST_PORT=8069
WEB_HOST_PORT=3069
REDIS_HOST_PORT=6379
RABBITMQ_MANAGEMENT_HOST_PORT=15672
RABBITMQ_AMQP_HOST_PORT=5672

MAX_CONCURRENT_CRAWLS=10

# Redis URL and RabbitMQ URL for internal/external connection
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://user:root@localhost:5672//

# CORS
CORS_ALLOW_ALL_ORIGINS=True

# Testing
TEST_CRAWL=False
