DEBUG=False
SECRET_KEY=your-secret-key-here

# Database Settings
DB_NAME=stockchart
DB_USER=postgres
DB_PASSWORD=your-db-password

# Customizable Host Ports (Change if you face port conflicts on your host machine)
WEB_HOST_PORT=3069

MAX_CONCURRENT_CRAWLS=10

# Redis URL and RabbitMQ URL for internal/external connection
REDIS_URL=redis://localhost:6379
CELERY_BROKER_URL=redis://localhost:6379

# CORS
CORS_ALLOW_ALL_ORIGINS=True

# Testing
TEST_CRAWL=False
